header{
	display: flex;
	padding: 30px;
	justify-content: right;
	text-transform: uppercase;
	margin: 30px;
}
strong{
	color: black;
	font-family: algerian;
	justify-content: left;
	font-size: 50px;
	font-weight: bold;
	padding-left: 40px;
	margin-right: 650px;
}
header h3 a{
	background-size: 60px;
    margin: 30px;
	margin-top: 30px;
    transition: 0.9s ease;
    color: black;
}

header h3 a:hover{
	background: white;
	color: black;
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: sans-serif;
}
body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.678),rgba(0, 0, 0, 0.753)),url(bureau.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}
.hero{
	height: 100%;
	width: 100%;
}
.form{
	font-size: 20px;
	width: 410px;
	height: 550px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	background: transparent;
	backdrop-filter: blur(30px);
	overflow: hidden;
	border-radius: 50px;
	box-shadow: 7px 7px 7px 7px;
	text-align: center;
}
.button{
	width: 270px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}
#b{
	top: 0;
	left: 0;
	position: absolute;
	width: 160px;
	height: 100%;
	background: linear-gradient(to right, #ff105f,#ffad06);
	border-radius: 30px;
	transition: .5s;
}
.icones{
	margin: 30px auto;
	text-align: center;
}
.icones img{
	width: 30px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
	border-radius: 50%;
}
.input{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.inf{
	width: 100%;
	padding: 10px 0;
	margin: 15px 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
	border-radius: 30px;
}
.sub{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f,#ffad06);
	border: 0;
	outline: none;
	border-radius: 30px;
}

#login{
	left: 50px;
}
#register{
	left: 450px;
}